@import "./variables";
.cont-modal-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .tajeta {
    height: auto;
    max-width: 800px;
    width: 450px;
    margin: 25px auto;
    text-align: center;
    background: #ffffff;
    border: 5px solid #bdbdbd;
    border-radius: 10px;
    @media (max-width: 1125px) {
      height: auto;
    }
    @media (max-width: 730px) {
      margin: 25px 10px;
    }
    .container-elements-tarjeta {
      height: 75%;
      padding: 20px 40px;
      .flex-elemts {
        .cont-header-all {
          display: flex;
          flex-direction: row;
          @media (max-width: 1125px) {
            flex-direction: column;
          }
        }
        .title-vale1 {
          margin-bottom: 25px;
          margin-top: 20px;
          @media (max-width: 1125px) {
            font-size: 27px;
          }
        }
        .btn-vale-dashboard2 {
          width: 200px;
        }
      }
    }
  }
}
.flex-elemts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-vale1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  /* line-height: 37px; */
  color: #333333;
  font-family: "Nunito", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  @media (max-width: 1269px) {
    font-size: 22px;
    text-align: center;
  }
}
.btn-vale-dashboard1 {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background: $color-orange;
  padding: 5px 13px;
  border: 3px solid $color-orange;
  box-sizing: border-box;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  transition: border 0.5s ease;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background-color: white;
    color: $color-orange;
    border: 3px solid #ffeee1;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 1269px) {
    width: 90%;
    margin: 0 auto 10px auto;
  }
}
.cont-btn-salir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10px;
  width: 100%;
  @media (max-width: 720px) {
    height: auto;
  }
  img {
    width: 20px;
    cursor: pointer;
  }
}
.text-descriptivo {
  /* color: #2a2a2a;*/
  color: #bdbdbd;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  margin-top: 20px;
}
.fondo-blanco {
  /* background: $light-orange-bg; */
  background: radial-gradient(
    circle,
    rgba(255, 238, 225, 1) 0%,
    rgba(255, 245, 238, 0.8687850140056023) 44%
  );
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.imagenFondo{
  background-image: url('../img/fondos/truck-road-desktop.jpg');
}
/* Quitar la linea de los a*/
a, a:hover, a:focus {
  text-decoration: none;
}
